<!doctype html>
<html>
    <head>
        <title>Hello</title>
        <meta name="description" content="The page where you say hello.">
        <meta name="keywords" content="some keywords">
    </head>
    <body>
        {% extends "layout.html" %}
        {% block content %}

            {% if city %}
                <h1>Hello, {{ city }}!</h1>
            {% else %}
                <h1>Hello, there! Try adding a `/city` into the URL...</h1>
            {% endif %}

        {% endblock %}
    </body>
</html>