.featured-categories {
    background-color: #eaf4fc; /* Very light blue */
}

button#districtDropdown {
    /* styles that will only apply to the button with id="districtDropdown" */
    width: 315px;
  }

button#weekdayDropdown {
    /* styles that will only apply to the button with id="weekdayDropdown" */
    width: 275px;
  }
/* Adjust the input group for time slider */
.input-group {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }

