.featured-categories {
    background-color: #eaf4fc; /* Very light blue */
}
/* Add space between filter elements */
.input-group {
    margin-bottom: 10px;
    margin-right: 10px;
  }
  
  /* Add some horizontal space between elements in the same row */
  .col-md-6, .col-md-4 {
    padding: 0 10px;
  }
  
  /* Make the dropdown button have some breathing room */
  .dropdown-toggle {
    margin-left: 5px;
  }
    /* Make all filters and search bar have equal width */
    .input-group,
    .search-container {
    width: 100% !important;
    }
